#display-time {
    z-index: 5 !important;
    position: relative;
    top: 30vh;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px 15px;
    background-color: rgba(255, 255, 255, 0.6);
}

#display-time > h2 {
    display: inline-block;
}
