{% extends 'session_words/base.html' %}


{% block content %}
<div class="col-sm-1"></div>
<div class="col-sm-5 push-top">
    <div class="panel panel-default" id="words-form">
        <div class="panel-heading lead">Add a New Word</div>
        <form class="word-form-box panel-body" action="add" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="word">Word to add:</label>
                <input type="text" name="word" class="form-control" id="word" placeholder="Enter a new word.">
            </div>
            <div class="form-group">
                <h5>Select a color:</h5>
                <label class="radio-inline" for="color">
                    <input type="radio" name="color" class="color" id="red" value="red"> Red
                </label>
                <label class="radio-inline" for="color">
                    <input type="radio" name="color" class="color" id="blue" value="blue"> Blue
                </label>
                <label class="radio-inline" for="color">
                    <input type="radio" name="color" class="color" id="green" value="green"> Green
                </label>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="big" value="big"> Make your text big!
                    </label>
                </div>
            <input type="submit" value="Add to Session" class="btn btn-success">
            </div>
        </form>
    </div>
</div>
<div class="col-sm-5 push-top">
    <div class="panel panel-default" id="words-list">
        <div class="panel-heading lead">
            Word List <a href="reset" class="btn btn-danger">Clear Session</a>
        </div>
        <div class="row panel-body">
            <div class="col-sm-5">
                <h5>New Word</h5>
            </div>
            <div class="col-sm-7">
                <h5>Timestamp</h5>
            </div>
        </div>
        {% if request.session.word_list %}
            {% for each in request.session.word_list %}
                <div class="row panel-body">
                    <div class="col-sm-5">
                        <span style="color: {{ each.color }}">
                            {% if each.size is not None %}
                                <b>{{ each.new_word }}</b>
                            {% else %}
                                {{ each.new_word }}
                            {% endif %}
                        </span>
                    </div>
                    <div class="col-sm-7">
                        {{ each.timestamp }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>   
    </div>
</div>
<div class="col-sm-1"></div>
{% endblock %}
